venv/
.env    

# Raw uncleaned data (keep only cleaned data in Git)
data/mobile_money_transactions.csv

# Cleaned large CSV (share via Telegram/cloud, not Git)
data/mobile_money_transactions_cleaned.csv

# Notebook-generated images
*.png
.vscode/
src/__pycache__/
dags/__pycache__/